/*  your css code here. If applicable */
*{
	padding:0;
	border:0;
	
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.center{
  position: absolute;
  top:0%;
  left:10%
  
}